#listing-image {
    height: 350px;
    width: 350px;
    border-radius: 4px;
}

#listing-value {
    color: burlywood;
    font-weight: 400;
}

#listing-name {
    font-weight: 400;
}

.image-container {
    position: relative;
    display: inline-block;
  }

.overlay {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    height: inherit;
    position: absolute;
    bottom: 45%;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.48);
    opacity: 0;
    transition: opacity 0.3s;
    padding: 10px;
    box-sizing: border-box;
    z-index: 99;
}

.overlay:hover{
    opacity: 1;
}

.overlay > .bi {
    font-size: 22px;
}

.cart-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(255, 255, 255, 0.48);
    opacity: 0;
    transition: opacity 0.3s;
    padding: 10px;
    box-sizing: border-box;
}

.cart-overlay:hover {
    opacity: 1;
}

@media screen and (max-width: 768px){
    .listing {
        height: 150px;
        width: 150px;
        border-radius: 4px;
    }

    .listing .cart-overlay {
        display: none;
    }


    .listing .overlay {
        display: none;
    }

    div #listing-name {
        font-size: 16px;
    }
}
