.category-btn {
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 4px;
    padding: 18px 50px 18px 50px;
    background-color: white;
    margin: 5px;
}

.categories {
    display: none;
}

@media screen and (max-width: 768px){
    .category-btn {
        border: 1px solid rgba(128, 128, 128, 0.5);
        border-radius: 4px;
        padding: 18px 50px 18px 50px;
        background-color: white;
        margin: 5px;
    }

    .categories {
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        width: 100%;
        overflow-x: scroll;
    }
}